.buttonMain{
	-fx-background-color: linear-gradient(to bottom, #2f2b43,#524A7B);
}

.buttonMain:hover
{
	-fx-opacity: 0.8;
}

.buttonRed
{
	-fx-background-color : #fa2c56;
	-fx-background-radius : 0 10 10  0;
}
.buttonRed:hover
{
	-fx-scale-x:1.2;
	-fx-background-color : #ec4567;
	-fx-background-radius : 0 10 10 0;
	-fx-underline:true;
}
.buttonRed:pressed
{
	-fx-scale-x:1.2;
	-fx-background-color : #f81241;
	-fx-background-radius : 0 10 10 0;
	-fx-underline:true;
}


.buttonMain1{
	-fx-background-color: linear-gradient(to bottom, #2f2b43,#524A7B);
    -fx-opacity:0.8;
}
